DATABASE_URL=sqlite:///./go_delay_predictor.db
OPENWEATHER_API_KEY=
WORLDWEATHERONLINE_API_KEY=
OPENMETROLINX_API_KEY=
GTFS_STATIC_URL=https://assets.metrolinx.com/raw/upload/Documents/Metrolinx/Open%20Data/GO-GTFS.zip
GTFS_REALTIME_TRIP_UPDATES_URL=https://api.openmetrolinx.com/OpenDataAPI/api/V1/Gtfs/Feed/TripUpdates
GTFS_REALTIME_ALERTS_URL=https://api.openmetrolinx.com/OpenDataAPI/api/V1/Gtfs/Feed/Alerts
